Source: hermes-net
Section: network
Priority: optional
Maintainer: Rafael Diniz <rafael@rhizomatica.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: www.rhizomatica.org/hermes

Package: rhizo-uuardop
Architecture: any
Multi-Arch: foreign
Depends: libc6 (>= 2.14)
Description: HERMES network subsystem. A set of tools for HERMES' transceiver,
             UUCP integration to HF modem, email customized compression and so
             on.
