[Unit]
Description=HERMES Gateway caller daemon
After=nginx.service uucpd.service
Requires=nginx.service

[Service]
EnvironmentFile=-/etc/default/uucpd
Type=exec
ExecStart=/usr/bin/caller.sh
KillSignal=SIGTERM
IgnoreSIGPIPE=no
Restart=always
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
