[Unit]
Description=UUARDOPD daemon
After=vnc.service sbitx.service
Requires=vnc.service sbitx.service

[Service]
Type=exec
ExecStart=/usr/bin/uuardopd -a 127.0.0.1 -p 8300 -r vara -o shm
KillSignal=SIGTERM
IgnoreSIGPIPE=no
Restart=always
TimeoutSec=5min
ExecStartPre=/usr/bin/vara_watchdog.sh

[Install]
WantedBy=multi-user.target
