[Unit]
Description=UUCPD daemon
After=vnc.service sbitx.service
Requires=vnc.service sbitx.service

[Service]
Type=exec
ExecStart=/usr/bin/uucpd -a 127.0.0.1 -p 8300 -r vara -o shm -f 2750p -m
KillSignal=SIGTERM
IgnoreSIGPIPE=no
Restart=always

[Install]
WantedBy=multi-user.target
